// BOOTSTRAP IMPORT //
@import "bootstrap";

// FONTAWESOME IMPORT //
@import "font-awesome/font-awesome";

/*!
 * McMillan Landing Page Stylesheet
 * Copyright 2015 Stratton Campbell
 */

// Custom Variables ****************************************** //
	
	//Colors
	$mm-blue:		#00a0d3 !default;
	$mm-red:		#ea3736 !default;
	$mm-navy:		#061826 !default;
	$mm-light-gray: #e8e8e9 !default;
	$mm-gray: 		#d9d9d9 !default;
	$mm-dark-gray:	#58595b !default;
	$mm-divider:	#bcbcbc !default;

	//Fonts
	$nunito: 		normal 300 $font-size-base/$line-height-base "Nunito", Helvetica, Arial,  sans-serif;

// Global Styles ********************************************* //

// Typography ************************************************ //
body{
	font: $nunito;
}

hr{
	border-top: 3px solid $mm-divider;
	margin: 0;
}

strong{
	font-weight: normal;
}

p, ul li, ol li{
	font-size: $font-size-base + 9;
	margin: 0 0 25px 0;
}
p:last-child{
	margin-bottom: 0;
}

ul li, ol li{
	margin: 0;
}

ul{
	padding-left: 23px;
	margin-bottom: 25px;
}

#intro p{
	color: $mm-navy;
}

p.description{
	text-transform: uppercase;
	color: #bcbcbc;
	font-size: 16px;
	margin: 0;
}

p.media-heading{
	color: #00a0d3;
	text-transform: uppercase;
    font-weight: lighter;
}

#footer p{
	color: #ffffff !important;
	font-size: $font-size-base - 1!important;
}

h1, h2, h3, h4, h5, h6{
	text-transform: uppercase;
	font-weight: lighter;
	margin-bottom: 25px;
}

h1, h2, h3{
	color: $mm-blue;
}

#hero h1{
	color: #ffffff;
	text-align: left;
}

h4, h5, h6{
	color: $mm-navy;
	font-size: $font-size-h4;
}

h2:before{
	content: "\f04b";
	position: absolute;
	width: auto;
	height: auto;
	font-family: "FontAwesome";
    top: 30px;
    left: -20px;
    color: $mm-red;
    font-size: 24px;
}

.uppercase{
	text-transform: uppercase;
}

// Buttons *************************************************** //
.mm-btn{
	background-color: $mm-blue;
	color: #fff;
	font-size: $font-size-base + 4;
	text-transform: uppercase;
	line-height: 0;
	padding: 25px 30px;
	border-radius: 0;
	font-weight: lighter;	
}

// Header **************************************************** //
#myCarousel{
	height: 420px;
}
.carousel-caption{
	text-align: left;
}

// Menu Navigation ******************************************* //

// Hero Banner *********************************************** //


.parallax {
  height: 420px;
  background-position: 50% 25%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
}

.pattern{
	background: url("../images/hero-pattern.png") no-repeat;
	position: absolute;
	width: 924px;
	height: 420px;
	background-attachment: fixed;
	z-index: 49;
}
.parallax h1 {
  color: #fff;
  font-size: $font-size-h1;
  padding: 8%;
  position: relative;
  z-index: 99;
}
.parallax h1:before{
	content: "\f04b";
	position: absolute;
	width: auto;
	height: auto;
	font-family: "FontAwesome";
    color: $mm-red;
    font-size: 50px;
    z-index: 100;
    padding-left: 3%;
    padding-top: 5%;
}

.parallax-1 {
  background-image: url("../images/hero1-banner.jpg");
}


// Landing Page Content ************************************** //
section{
	padding-top: 45px;
	padding-bottom: 45px;
}

#sub-foot{
	background-color:$mm-light-gray;
	padding-top: 30px;
	padding-bottom: 35px;
}

#intro{

}


#intro .btn{
	margin-right: 24px;
}

#intro .btn:last-child{
	margin-right: 0;
}

.pdf-file{
	box-sizing: border-box;
    padding: 3% 5%;
}

.pdf-file p{
	font-size: 18px;
}

.pdf-file img{
	margin-bottom: 15px;
}


.pdf-file a{
	display: block;
	text-transform: uppercase;
	text-align: center;
	color: #000;
	font-size: 16px;
	margin: auto;
}

.pdf-file:hover{
	background-color: $mm-gray;
}

.carousel{
	margin-bottom: 25px;
}

.carousel-control{
	color: #58595b;
}
.carousel-control.right{
	right: -100px;
}

.carousel-control.left{
	left: -100px;
}

.right-arrow{
	content: url("../images/rgt-arrow.svg");
	width: 29px;
	height: 60px;
	margin-top: 60%;

}
.left-arrow{
	content: url("../images/lft-arrow.svg");
	width: 29px;
	height: 60px;
	margin-top: 60%;

}

.media{
	margin: 25px 0 15px 0;
}

.media:first-child{
	margin-top: 10px;
}


.media .mm-btn{
	display: table;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#sub-foot{
	padding-top: 60px;
	padding-bottom: 85px;
}

// Footer **************************************************** //
footer{
	background-color: $mm-navy;
	padding: 40px 0 80px 0;
}
.social{
	margin-bottom: 40px;
}
.social img{
	width: 28px;
	height: 28px;
	margin-right: 10px;
}


// Browser Specific Fixes ************************************ //